# Database
DATABASE_URL=postgresql://user:password@local

# JWT - (It's 15min and 30 days مش عاجبك طلقني)
JWT_SECRET=bism-allah-alrahman-alraheem

# Server
PORT=5024
APP_URL=http://localhost:4200

# Email
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=email
SMTP_PASS=password